p {
    text-align: justify;
}

// Divvy-ing the sections in the footer
.footer-block {
    display: block;
    margin-bottom: 0.4 em;
}

// Align the icons in the hamburger horizontally
.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

// beginning quotes
p.quote {
    font-size: 1.2em; 
    padding-bottom: 20px;
    font-style: italic;
}

// to fix a seeming Quarto bug that makes the 
// top margin 3em for smaller screeens
.nav-footer-center {
    margin-top: 0;
}