/*-- scss:defaults --*/
// Color system from darkly.scss
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;


/*-- scss:rules --*/

// The bar above/beside the dark mode toggle
// and increasing the toggle size for small vw
@media (max-width: map-get($grid-breakpoints,  "lg")) {
    .navbar-nav.navbar-nav-scroll.ms-auto {
        font-size: 1.3em;
    }
    
    .navbar .quarto-navbar-tools {
        border-top: 2px solid $gray-300;
        margin-top: 12.75px;
    }

    .quarto-color-scheme-toggle .bi::before {
        height: 1.5rem;
        width: 1.5rem;
        background-size: 1.5rem 1.5rem;
      }
}
@media (min-width: map-get($grid-breakpoints,  "lg")) {
    .quarto-navbar-tools {
        border-left: 2px solid $gray-300;
        margin-left: 5px;
        padding-left: 7px;
    }
}

// title-banner color
.quarto-title-banner.page-columns.page-full {
    background: #23ffc833;
}

// footer bgcolor
footer .nav-footer {
    background: #0d7d6133;
}